@import 'styles/_variables';
@import 'styles/_mixins';

.toast {
  position: fixed;
  opacity: 1;
  width: $toast-width;
  transition: all 0.5s ease-out;
  transform: none;
  z-index: 10000;
  margin: 0;
  box-shadow: $red;

  &.bottom {
    left: calc((100vw - #{$toast-width}) / 2);
    bottom: -10rem;

    &.show {
      bottom: 2rem;
    }
  }

  &.top {
    right: 2rem;
    top: -10rem;

    &.show {
      top: 3rem;
    }
  }
}
